
body{
  margin: 0 auto;
  background-image: url("../images/sky4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.mini-logo{

  width: 52px; 
  margin-top: 6px; 
  margin-right: 15px; 
  margin-left: 60px; 
} 

.containercadastro{
  width:500px;
  height: 700px;
  text-align: center;
  background-color: rgba(52, 73, 94,0.7);
  margin: 0 auto;
  margin-top: 100px;
}

.containercadastro img{
  width: 120px;
  height: 120px;
  margin-top: -60px;

}

input[type="text"]{
  height: 50px;
  width: 300px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  margin-bottom: 13px;
  margin-top: 17px;

  background-color: #fff;
  padding-left: 60px;

}

input[type="password"]{
  height: 45px;
  width: 300px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  margin-bottom: 13px;
  margin-top: 17px;
  background-color: #fff;
  padding-left: 50px;

}


.form-input::before{
  content: "\f1fa";
  position: absolute;
  font-family: "FontAwesome";
  padding-left: 5px;
  padding-top: 20px;
  font-size: 25px;
  margin-top: 5px;
}

.form-input:nth-child(4)::before{
  content: "\f2bb";
  font-size: 25px;
  margin-top: 5px;
}

.form-input:nth-child(5)::before{
  content: "\f2bc";
  font-size: 25px;
  margin-top: 5px;
}

.form-input:nth-child(6)::before{
  content: "\f023";
  font-size: 25px;
  margin-top: 5px;
}
.form-input:nth-child(7)::before{
  content: "\f023";
  font-size: 25px;
  margin-top: 5px;
}
.form-input:nth-child(10)::before{
  content: "\f19c";
  font-size: 25px;
  margin-top: 5px;
}


.btn-login{
  padding: 15px 30px;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  border: none;
  background-color: #2ECC71;
  margin-bottom: 20px;
}

a{
  color: #F0FFFF;
  font-size: 18px;
}

