
body{
  margin: 0 auto;
  background-image: url("../images/sky6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quadrado{
  width: 704px;
  height: 460px;
  background-color: white;
  margin-top: -20px;
  margin-left: 310px;
  border-color: blue;
  border-spacing: 100px;
 }
 
 .btn-login{
  padding: 15px 30px;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  border: none;
  background-color: #37474f;
  margin-bottom: 20px;
  margin-top:29px;
  margin-left: 275px;
}

.mini-logo1{
  
  height: 130px;
  margin-left: 445px; 
  margin-top:60px; 
  width: 411px; 
  margin-top:60px;
}

.containercadastro img{
  width: 120px;
  height: 120px;
  margin-top: -60px;

}

.btn-login{
  padding: 15px 30px;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  border: none;
  background-color: #37474f;
  margin-bottom: 20px;
  margin-top:29px;
  margin-left: 275px;
}


