body{

  margin: 0 auto; 
  background-image: url("../images/listaempresas.jpg"); 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.mini-logo{ 

  width: 52px; 
  margin-top: -1px; 
  margin-right: 15px; 
  margin-left: -150px;  
} 

.informacoes{

  width:590px; 
  height: 50px; 
  text-align: auto;
  border-radius: 20px; 
  margin-left: 520px;
  margin-top: -71px; 

}

.margin-login{
  margin-right: 30px;
}

.barra{
  width:590px; 
  height: 50px; 
  text-align: left;
  background-color: rgba(50, 60, 50,0.3); 
  border-radius: 20px; 
  margin-left: -90px;
  margin-top: 7px; 

}

#lista{
	background-color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 150%;
 
}

.arruma{
  width:860px; 
    height: 200px; 
    text-align: center; 
    border-radius: 15px;  
    margin-left: 5px;
    margin-top: 25px; 
}

.page-footer{
  margin-top: 500px;
}