body{
  margin: 0 auto;
  background-image: url("../images/desktop3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.containerlogin{
  width:500px;
  height: 350px;
  text-align: center;
  background-color: rgba(52, 73, 94,0.7);
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 150px;
}

.containercadastro{
  width:500px;
  height: 550px;
  text-align: center;
  background-color: rgba(52, 73, 94,0.7);
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 100px;
}

.containerlogin img{
  width: 120px;
  height: 120px;
  margin-top: -60px;

}

.containercadastro img{
  width: 120px;
  height: 120px;
  margin-top: -60px;

}

input[type="text"],input[type="password"]{
  height: 45px;
  width: 300px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  margin-bottom: 13px;
  margin-top: 17px;
  background-color: #fff;
  padding-left: 35px;

}

input[type="ncpf"]{
  height: 45px;
  width: 300px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  margin-bottom: 13px;
  margin-top: 17px;
  background-color: #fff;
  padding-left: 50px;
}

input[type="cadastroemp"]{
  height: 45px;
  width: 300px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  margin-bottom: 6px;
  margin-top: 17px;
  background-color: #fff;
  padding-left: 50px;
}


.form-input::before{
  content: "\f1ad";
  position: absolute;
  font-family: "FontAwesome";
  padding-left: 5px;
  padding-top: 20px;
  font-size: 25px;
  margin-top: 5px;
}

.form-input:nth-child(2)::before{
  content: "\f1fa";
  font-size: 25px;
  margin-top: 5px;
}

.form-input:nth-child(3)::before{
  content: "\f041";
  font-size: 25px;
  margin-top: 5px;
}

.form-input:nth-child(4)::before{
  content: "\f023";
  font-size: 25px;
  margin-top: 5px;
}
 
.form-input:nth-child(5)::before{
  content: "\f02d";
  font-size: 25px;
  margin-top: 5px;
}

.form-input:nth-child(6)::before{
  content: "\f022";
  font-size: 25px;
  margin-top: 5px;
}

.btn-login{
  padding: 15px 30px;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  border: none;
  background-color: #2ECC71;
  margin-bottom: 20px;
}

a{
  color: #F0FFFF;
  font-size: 18px;
}
