body{

  margin: 0 auto; 
  background-image: url("../images/sky5.jpg"); 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.mini-logo{ 

  width: 52px; 
  margin-top: -1px; 
  margin-right: 15px; 
  margin-left: -150px; 
} 

.informacoes{

  width:590px; 
  height: 50px; 
  text-align: auto;
  border-radius: 20px; 
  margin-left: 520px;
  margin-top: -71px; 

}

.margin-login{
  margin-right: 30px;
}

.barra{
  width:590px; 
  height: 50px; 
  text-align: left;
  background-color: rgba(50, 60, 50,0.3); 
  border-radius: 20px; 
  margin-left: -90px;
  margin-top: 7px; 

}

input[type="search"]{

	height: 50px; 
  	width: 20px; 
  	font-size: 18px; 
  	border: none; 
  	border-radius: 10px; 
  	margin-bottom: 20px; 
  	margin-top: 0px; 
  	background-color: #fff; 
  	margin-left: 8px; 
}

.menuprincipal{
  	width:860px; 
  	height: 400px; 
  	text-align: center; 
  	background-color:white
  	border-radius: 15px;  
  	margin-left: 250px;
  	margin-top: 15px; 
}

.arruma{
	width:860px; 
  	height: 200px; 
  	text-align: center; 
  	border-radius: 15px;  
  	margin-left: -155px;
  	margin-top: 25px; 
}

.collection{
	width:500px; 
  	height: 65px; 
  	text-align: center; 
  	background-color: white; 
  	border-radius:5px;  
  	margin-left: 450px;
  	margin-top: 25px; 
}

.btn-conFace{ 
  width: 300px;
  padding: 15px 30px; 
  cursor: pointer; 
  color: #fff; 
  border-radius: 6px; 
  border: none; 
  background-color: #607d8b; 
  margin-left: 15px;  
} 

.botao-sup{
  width: 100px;
  cursor: pointer; 
  border-radius: 6px; 
  border: none; 
  background-color: #607d8b; 
  margin-left: 330px;  

}

.botao-sup1{
  width: 100px;
  cursor: pointer;  
  border-radius: 6px; 
  border: none; 
  background-color: #607d8b; 
  margin-left: 720px;
  margin-top:-68px;  

}

input[type="text"]{
  height: 45px;
  width: 300px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  margin-bottom: 13px;
  margin-top: 17px;
  background-color: #fff;
  padding-left: 50px;

}

.btn-login1{
  padding: 15px 30px;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  border: none;
  background-color: #607d8b;
  margin-bottom: 20px;
  margin-left: 150px;
}

.btn-login2{
  padding: 15px 30px;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  border: none;
  background-color: #607d8b;
  margin-bottom: 20px;
  margin-left: 300px;
  margin-top: 10px;
}

.h5{
  font-weight: 400px; 
  color: white;
  font-family: Courier; 
  margin-top: 40px;
}
